html,
body {
    margin: 0;
    padding: 0;
}

#grid {
    width: 100%;
    /* prevents scroll/drag */
    touch-action: none;
    /* to allow scoreboard to be absolutely positioned inside */
    position: relative;
}

#scoreboard {
    border: 1px solid white;
    color: white;
    font: bold 1rem monospace;
    left: 0;
    position: absolute;
    top: 0;
}

#grid>div {
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
    box-sizing: border-box;
}

.empty {
    background-color: black;
}

.snake {
    background-color: limegreen;
    /* animation-duration: 250ms;
  animation-name: snakehead; */
}

.apple {
    background-color: red;
}

@keyframes snakehead {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

/* desktop styles */
@media (min-width: 768px) {

    html,
    body {
        height: 100%;
    }

    body {
        background-color: #333;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #grid {
        width: 75%;
    }
}
